body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

a:link {
    color: #55869B;
    text-decoration: none;
}
a:visited {
    color: #55869B;
    text-decoration: none;
}

a:hover {
    color: #D9827C;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #5394A0;
}
h2 {
    text-align: center;
    color: #5394A0;
}

article {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #f7ecdb;
}

nav {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #F9F3EC;
}

article > div {
    padding: 5px;
    text-align: right;
    font-size: small;
}

article > div > a {
    padding: 5px;

}

article section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
}

article section button {
    border-radius: 12px;
    border: 0;
    margin-bottom: 10px;
    color: white;
    white-space: nowrap;
}

.b-new-note {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #55869B;
    padding: 8px 15px;
    margin-right: 150px;
}

.b-dark-theme {
    grid-column: 3/-1;
    grid-row: 1/2;
    background-color: #6F6A87;
    padding: 2px 15px;
    margin-left: 150px;
}

.note-area {
    grid-column: 1/-1;
    grid-row: 2/3;
    border: 2px;
    border-color: #5394A0;
}

.b-save {
    grid-column: 2/3;
    grid-row: 3/4;
}

.b-cancel {
    grid-column: 2/3;
    grid-row: 3/4;
}