body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
}

html, main {
    height: 100%;
}

a:link {
    color: #2E5052;
    text-decoration: none;
}
a:visited {
    color: #2E5052;
    text-decoration: none;
}

a:hover {
    color: #D9827C;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h1, h2 {
    text-align: center;
    color: #2E5052;
}

article {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #f7ecdb;
}

nav {
    padding: 5px;
    margin-right: 5px;
    text-align: right;
    font-size: small;
}

nav > a {
    padding: 5px;

}

/* BUTTONS AND NOTE */

section {
    margin: 10px;
}

div button {
    color: white;
    white-space: nowrap;
    border: 0;
    border-radius: 10px;
    margin: 8px;
    padding: 10px;
    cursor: pointer;
}

.first-b-row {
    display: flex;
    justify-content: space-between;

}

.second-b-row {
    display: flex;
    justify-content: flex-end;

}

.b-new-note {
    background-color: #55869B;
}

.b-dark-theme {
    background-color: #6F6A87;
}

.note-area {
    border: 2px solid #5394A0;
    width: 98%;
    min-height: 200px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fcf8f3;
    resize: none;
}

.b-save {
    background-color: #55869B;
}

.b-cancel {
    background-color: #D9827C;
}

/* KEEP IN TOUCH */

footer div {
    display: flex;
    justify-content:center;
    margin-bottom: 30px;
}

footer div a {
    margin-left: 5px;
    margin-right: 5px;
}

/* SIDEBAR */

aside {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #F9F3EC;
    height: 100%;
}

aside ul {
    color:#2E5052;
    list-style: square;
    padding-left: 25px;
}

@media screen and (min-width:700px) {
    main {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr;
    }
    
    footer {
        margin-top: auto;
    }
    
}

/* DARK THEME */


a:link.darkTheme {color: #CBE2DB;}

a:visited.darkTheme {color: #CBE2DB;}

a:hover.darkTheme {color: #D9827C;}

h1.darkTheme, h2.darkTheme {color: #FAFFEB;}

article.darkTheme {background-color: #202C39;}

        /* BUTTONS AND NOTE */

/* div button.darkTheme {color: white;}

.b-new-note.darkTheme {background-color: #42728A;}

.b-dark-theme.darkTheme {background-color: #42728A;} */

.note-area.darkTheme {
    border: 2px solid #95BDC4;
    background-color: #283845;
    color:white
}

/* button.b-save.darkTheme {background-color: #151b1e;}

.b-cancel.darkTheme {background-color: #6C98A7;} */

        /* SIDEBAR */

aside.darkTheme {background-color: #283845;}

aside ul.darkTheme {color: #CBE2DB}

/* HIDE ELEMENTS */

.hideElem {
    display: none;
}